.idea/__pycache__/
*.pyc
models/*
plots/*
runs/*
profiler_traces/
__pycache__/
data/.cache/
runs_info/
runs_info_fam/
kge_pytorch/models/
kge_pykeen/models/
kge_experiments/models/
kge_experiments/runs/
data/kge_scores_wn18rr.txt
logs_countries.txt
top_k_scores/files/
cudagraphs/
kge_pytorch/models/
kge_pykeen/models/
AAAI26/
kge_experiments/models/
kge_experiments/runs/
kge_experiments/AAAI26/
kge_experiments/checkpoints/
kge_experiments/cudagraphs/
kge_experiments/kge_pytorch/models/
kge_experiments/kge_pykeen/models/
