.idea/__pycache__/
*.pyc
models/*
plots/*
runs/*
profiler_traces/
__pycache__/
data/.cache/
runs_info/
runs_info_fam/
kge_pytorch/models/
kge_pykeen/models/

data/kge_scores_wn18rr.txt
logs_countries.txt
top_k_scores/files/
cudagraphs/